@font-face {
    font-family: "Code Pro";
    src: url('SourceCodePro-Medium.ttf') format('truetype');
  }

* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Code Pro";
}

html, body {
    width:  100vw;
    height: 100vh;
}

#canvas {
    position:absolute;
    left:0px;
    top:0px;
}